* { margin:0; padding:0;}
html, body { height:100%;}
body { background:#fff; font-family:Arial, Helvetica, sans-serif; font-size:100%; line-height:1.0625em; color:#585858;}

input, select, textarea { font-family:Arial, Helvetica, sans-serif; font-size:.91em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { width:100%; overflow:hidden;}
.container { width:100%;}

p { margin-bottom:17px;}

/*==================forms====================*/
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}
object { vertical-align:top;}

#contacts-form label { display:block; height:28px;} 
#contacts-form label input { width:255px; padding:2px 0 3px 3px; color:#585858; background:none; border:1px solid #bfbfbf;}
#contacts-form textarea {width:330px; height:71px; padding:2px 0 2px 3px; margin-bottom:15px; color:#585858; background:none; border:1px solid #bfbfbf; overflow:auto;}
#contacts-form .col-1 { width:265px !important; margin-right:0 !important;}
#contacts-form .col-2 { width:334px !important;}

/*==================list====================*/
ul { list-style:none;}

.list1 li { background:url(images/marker.gif) no-repeat left 2px; padding:0 0 5px 28px; margin-bottom:2px; border-bottom:1px dotted #d1d1d1;}
.list1 li a { text-decoration:none;}
.list1 li a strong { color:#585858;}
.list1 li a:hover { color:#000; text-decoration:underline;}
.list1 li a:hover strong { color:#000;}
.list1 li.last { border-bottom:none; padding-bottom:16px;}

.list2 li {background:url(images/marker.gif) no-repeat left 2px; border-bottom:1px dotted #d1d1d1; padding:0 25px 5px 28px; margin-bottom:2px; overflow:hidden;}
.list2 li div { background:url(images/border.gif) left bottom repeat-x; width:100%; overflow:hidden;}
.list2 li a { color:#585858; font-weight:bold; text-decoration:none; float:left; background:#fff;}
.list2 li a:hover { color:#000;}
.list2 li em { float:right; font-style:normal; background:#fff; color:#9c9c9c;}
.list2 li.last { border-bottom:none; padding-bottom:15px;}

.list3 dt { font-weight:bold;}
.list3 dd { padding-bottom:10px;}

.gallery { position:relative; height:357px; overflow:auto;}
.gallery dt img { position:absolute; left:0; top:0;}
.gallery dd { padding:0 0 16px 421px;}

.extra-img { position:absolute; top:79px;}

/*==================other====================*/
.img-indent { margin:0 14px 0 0; float:left;}
.img-indent.alt { margin-right:10px;}
.img-box { width:100%; overflow:hidden; padding-bottom:30px;}
.img-box img { float:left; margin:0 14px 0 0;}

.extra-wrap { overflow:hidden; }

.p1 { margin-bottom:8px;}
.p2 { margin-bottom:16px;}
.p3 { margin-bottom:24px;}

/*==================txt, links, lines, titles====================*/
a {color:#9c9c9c; outline:none;}
a:hover{text-decoration:none;}

h1 { padding:32px 0 0 0; font-size:20px; line-height:1em; text-transform:uppercase; float:left;}
h1 a { color:#bbb; text-decoration:none;}
h1 a span { color:#000;}
h2 { font-size:1.33em; text-transform:uppercase; color:#000; border-bottom:1px solid #e5e5e5; padding:0 0 6px 0; margin-bottom:19px;}
h3 { font-size:1.1em; margin-bottom:11px;}
h4 { font-size:1em; margin-bottom:11px;}
h5 { font-size:1em;}

.dept-list { float:left;}
.dept-list dt { margin-bottom:17px;}
.dept-list dd { clear:both; text-align:right;}
.dept-list dd span { float:left; padding-right:25px;}
.dept-list dd a { color:#585858;}


/*header*/
#header .flash-menu { position:absolute; left:-20px; top:0;}
#header .flash-header { position:absolute; left:-20px; top:97px;}

/*content*/
#content { padding:36px 0 38px 0; border-bottom:1px solid #efefef; margin-bottom:2px; position:relative;}
#content .indent { padding:0 25px 0 0;}
#content .section { padding:0 0 27px 0;}
#content .section1 { padding:0 0 70px 0;}
#content .section2 { padding:0 0 50px 0;}
#content .row-1 { padding-bottom:41px;}

/*footer*/
#footer { border-top:1px solid #efefef; color:#9c9c9c; padding:20px 0 42px 0;}
#footer a { text-decoration:none;}
#footer a:hover { text-decoration:underline;}
#footer .nav { font-size:1.25em; margin-left:-10px; padding-bottom:8px;}
#footer .nav li { display:inline;}
#footer .nav li a { color:#585858; padding:0 13px 0 10px;}

/*==========================================*/

/* news */
.id_field{
	width:20px;
	text-align:center;
}
.index_div{
	width:610px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}
.index_div table{
	width:610px;
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
}
.index_div th{
	font-weight: normal;
	background:#EDEDED;
	padding:5px;
	border:1px #EEE solid;
	border-top:none;
	border-bottom:1px #CCC solid; 
}
.index_div td{
	padding:3px;
	background:#FFF;
	padding-left:5px;
	padding-right:5px;
	border:1px #FFF solid;
	color:#666;
}
.index_div tr.chrow td{
	background:#FFFCE0;
}
.index_div tr:hover td{
	background:#E0FCFF;
	color:#000;
}
.index_div tr:hover td a{
	color:#1F729E;
}
.index_div td.news_title{
	/* width:200px; */
}
.index_div td.news_time{
	width:100px;
}
.index_div td a{
	text-decoration:none;
	color:#2A9EC7;
	display:block;
}
.content_view{
	width:610px;
	margin-left:auto;
	margin-right:auto;
}
.content_view table{
	margin:20px;
	border:1px #FFF solid;
}
.content_view th,.content_view td{
	padding:3px;
	vertical-align:top;
	font-weight: normal;
	border:1px #CCC solid;
	background:#FFF;
}
.content_view th{
	background:#EDEDED;
	width:120px;
	text-align:right;
}
.link_dv{
	text-align:center;
	margin-bottom:20px;
}
.link_dv a{
	font:11px verdana;
	text-decoration:none;
	color:#666;
}
.link_dv a:hover{
	color:#000;
}
/* end news*/

#footer .nav li a{
	padding-top:3px;
	padding-bottom:3px;
}